In [1]:
import xlrd
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [2]:
this_dir = Path().resolve()
chapter_dir = this_dir / "Planilhas_Livro_Mercado_Financeiro/Cap3"

In [9]:
teste = pd.read_excel(chapter_dir / "Teste.xlsx", header=None)
teste.head()

   0   1
0  1  10
1  2  -4
2  3   2
3  4   3
4  5  11